.nav {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;

  @include onDesktop {
    padding: 26px 0;
  }

  &__icon {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__language {
    display: none;

    @include onTablet {
      display: block;
    }
  }
}
